/Pods/
GoalPerformance.xcodeproj/project.xcworkspace/xcuserdata/
GoalPerformance.xcodeproj/xcuserdata/sophie.xcuserdata/*
GoalPerformance.xcodeproj/xcuserdata/sophie.xcuserdatad/xcschemes/GoalPerformance.xcscheme
GoalPerformance.xcodeproj/xcuserdata/sophie.xcuserdatad/xcschemes/xcschememanagement.plist
GoalPerformance.xcworkspace/xcuserdata/sophie.xcuserdatad/UserInterfaceState.xcuserstate
